.contactsBlock {
    height: 70vh;
    background: rgb(128, 102, 119);
}

.main {
    border: 1px solid;
    width: 80%;
    height: 200px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    background-color: gray;
    height: 20px;
}

.textArea {
    background-color: gray;
    height: 120px;
}