.container {
  border: 1px solid;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.button {
  height: 40px;
  width: 150px;
  background-color: rgb(87, 83, 110);
  text-align: center;
}
