.contactsBlock {
    height: 40vh;
    background: rgb(128, 102, 119);
}

.main {
    border: 1px solid;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}


.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.protect {
    width: 60%;
    background-color: gray;
    text-align: center;
    height: 30px;
}